name: flutter_videoshows
description: A new Flutter application.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
version: 1.0.0+1

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  english_words: ^3.1.0
  shared_preferences: ^0.4.3
  http: '>=0.11.3+12'
  dio: ^2.1.2
  cached_network_image: ^0.7.0
  sharesdk: ^1.0.9
  flutter_facebook_login: ^1.2.0
  flutter_twitter_login: ^1.1.0
  provide: ^1.0.2
  image_picker: ^0.4.12+1
  image_cropper: ^0.0.9
  connectivity: ^0.3.2
  event_bus:  ^1.0.1
  flutter_spinkit: "^2.1.0"



dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
     - image/launch_logo.png
     - image/video_launch.png
     - image/top.png
     - image/top_selected.png
     - image/category.png
     - image/category_selected.png
     - image/me.png
     - image/me_selected.png
     - image/video_item_play.png
     - image/bookmarks.png
     - image/feedback.png
     - image/profile.png
     - image/share.png
     - image/me_background.png
     - image/avatar.png
     - image/settings.png
     - image/search.png
     - image/back_arrow3.png
     - image/search_meeting_icon.png
     - image/arrow_right.png
     - image/news_big_default.png
     - image/videoplay_icon.png
     - image/signup_triangle.png
     - image/signup_background.png
     - image/share_facebook.png
     - image/share_twitter.png
     - image/share_wechat.png


  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
