<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lemon.video">

    <!-- 获取访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <!-- 读写存储卡  装载和卸载文件系统 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
<!-- android:name="com.lemon.fluttervideoshows.application.BaseApp"-->
    <!-- android:name="io.flutter.app.FlutterApplication"-->
    <application
        android:name="com.lemon.video.application.BaseApp"
        android:allowBackup="true"
        android:label="flutter_videoshows"
        tools:replace="android:name"
        android:icon="@mipmap/ic_launcher">
        <!-- android:theme="@style/VideoTheme"-->
        <!-- android:theme="@style/LaunchTheme"-->
        <activity
            android:name="com.lemon.video.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- This keeps the window background of the activity showing
                 until Flutter renders its first frame. It can be removed if
                 there is no splash screen (such as the default splash screen
                 defined in @style/LaunchTheme). -->
            <meta-data
                android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
                android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.lemon.video.OneActivity"></activity>
        <activity android:name="com.lemon.video.FlutterActivity"></activity>
        <activity android:name="com.lemon.video.VideoDetailActivity"
            android:theme="@style/VideoTheme"></activity>
        <activity android:name="com.lemon.video.video.VideoDetailActivity"
            android:theme="@style/VideoTheme"></activity>


    </application>
</manifest>
